@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/akira-expanded');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(0, 0, 0);
}

header {
    position: fixed;
    width: 100%;
    z-index: 7;
    top: 0;
}

nav {
    height: 80px;
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0px 5px 10px #0000001e;
}

.nav-logo-container img {
    width: 35px;
    position: relative;
    z-index: 5;
}

.nav-icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.nav-list {
    display: none;
}

.list-container {
    position: absolute;
    width: 100%;
    height: 480px;
    top: 0px;
    right: 0px;
    background-color: var(--main-color);
    z-index: 2;
    translate: 0px -500px;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container {
    position: absolute;
    min-width: 300px;
    max-width: 600px;
    min-height: 100vh;
    top: 0px;
    right: 0px;
    background-color: var(--main-color);
    z-index: 2;
    translate: 500px 0px;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 70px 25px;
    gap: 20px;
}

.cart-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #836f4c;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    position: relative;
    right: 10px;
    bottom: 5px;
    font-family: poppins;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
}

.cart-text h3 {
    color: #FFF;
    font-family: "Akira Expanded";
    font-size: 25px;
    font-weight: 800;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 250px;
    overflow-y: scroll;
}

.cart::-webkit-scrollbar {
    width: 20px;
}

.cart::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.cart::-webkit-scrollbar-thumb {
    background: #b29a71;
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.cart-item-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #A69476;
    min-width: 300px;
    max-width: 350px;
    height: 120px;
    padding: 10px;
    gap: 15px;
    border-radius: 5px;
}

.card-item-img-container {
    width: 100px;
    height: 100px;
    background-color: #A69476;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.card-item-img-container img {
    height: 170px;
    position: relative;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.4));
}

.card-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.card-item-text,
.card-item-price {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}

.card-item-text p:nth-child(2) {
    font-weight: 600;
}

.card-item-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-item-number-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
}

.item-number-add-button,
.item-number,
.item-number-subtract-button {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 700;
}

.item-number-add-button,
.item-number-subtract-button {
    background-color: #c8ad7f6c;
    border-radius: 100%;
    width: 23px;
    cursor: pointer;
}

.cart-total-price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #C8AD7F;
    padding-top: 5px;
}

.cart-total-price-container p {
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
}

.cart-button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.cart-buy-button {
    border-radius: 5px;
    background: rgba(200, 173, 127, 0.341);
    border: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #F5D59D;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
}

.cart-clear-button {
    border-radius: 5px;
    border: 1px solid rgba(200, 173, 127, 0.531);
    background-color: #00000000;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #F5D59D;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
}

.disable-button {
    background-color: #acacac;
    color: #3d3d3d;
    cursor: not-allowed;
}

.nav-icon-cart-container input,
.nav-icon-menu-container input {
    appearance: none;
    width: 20px;
    height: 20px;
}

.list-button,
.cart-button {
    display: flex;
    cursor: pointer;
    position: relative;
    z-index: 5;
}


.list-button img:active,
.cart-button img:active {
    scale: 0.9;
    transition: all 0.1s ease;
}

.active-menu {
    translate: 0px 0px;
    display: flex;
    align-items: flex-start;
}

.list-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.list-menu li {
    list-style: none;
}

.list-menu li>a {
    color: #ACACAC;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.overlay {
    display: none;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    box-shadow: 0px 8px 0px rgba(135, 125, 30, 0.335);
    backdrop-filter: blur(5px);
}

.active-overlay {
    display: block;
}

article {
    background-color: var(--main-color);
    padding-top: 100px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.hero-img-background {
    background-image: url(./imgs/Hero-img-background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img-background img {
    height: 330.531px;
    transform: rotate(359deg);
}

.hero-img-background-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.hero-img-background-filter p {
    font-family: Chopsic;
    font-size: 82px;
    font-weight: 400;
    height: 65px;
}

.hero-img-background-filter p:nth-child(even) {
    color: #c8ad7f3b;
}

.hero-img-background-filter p:nth-child(odd) {
    color: #c8ad7f00;
    -webkit-text-stroke: 1px rgba(200, 173, 127, 0.393);
    ;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    margin-top: 60px;
    color: #C8AD7F;
    text-align: center;
    font-family: "akira-expanded";
    font-size: 34px;
    font-weight: 800;
}

.hero-subtitle {
    margin: 60px 0px;
    color: #B7B7B7;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.44);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 20px;
}

.hero-button {
    border-radius: 15px;
    background: rgba(200, 173, 127, 0.30);
    border: none;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hero-button:active {
    scale: 0.97;
    transition: all 0.1s ease-in;
}

.hero-button h3 {
    color: #F5D59D;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}

.about-section {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title {
    color: #F4D39A;
    text-shadow: 0px 0px 30px #000;
    font-family: "akira-expanded";
    font-size: 32px;
    font-weight: 800;
    width: 300px;
    position: relative;
    z-index: 3;
}

.about-title--desktop {
    display: none;
}

.about-img-container--desktop {
    display: none;
}

.about-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 80px;
}

.about-img-container img {
    height: 360px;
    border: 1px solid #C8AD7F;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 9px 9px 0px 0px rgba(200, 173, 127, 0.24);
    position: absolute;
    z-index: 1;
}

.about-img-background {
    height: 360px;
    width: 240px;
    border: 1px solid #C8AD7F;
    left: 20px;
    top: 20px;
    position: relative;
    z-index: 0;
}

.about-content,
.about-content--2 {
    width: 252px;
    color: #EAEAEA;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.30);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
    font-weight: lighter;
}

.about-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-button {
    border-radius: 15px;
    background: rgba(200, 173, 127, 0.30);
    border: none;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.about-button:active {
    scale: 0.97;
    transition: all 0.1s ease-in;
}

.about-button h3 {
    color: #F5D59D;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
}

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card-text-container {
    display: none;
}

.card {
    width: 164px;
    height: 164px;
    border: 1px solid #C8AD7F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-filter {
    width: 164px;
    height: 164px;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(40%);
}

.dc-card,
.nike-card,
.puma-card,
.adidas-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dc-card {
    background-image: url(./imgs/Card-img-background--dc.jpg);
}

.nike-card {
    background-image: url(./imgs/Card-img-background--nike.jpg);
}

.puma-card {
    background-image: url(./imgs/Card-img-background--puma.jpg);
}

.adidas-card {
    background-image: url(./imgs/Card-img-background--adidas.jpg);
}

.item-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 170px;
}

.item-filter {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.filter-title {
    width: 100%;
    border-bottom: 1px solid #c8ad7f47;
    display: flex;
    justify-content: flex-start;
}

.filter-title h3 {
    color: #F5D59C;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
}

.filter-brand-container,
.filter-gender-container,
.filter-price-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.active-filter {
    border: none;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid red;
    background: linear-gradient(180deg, rgba(200, 173, 127, 0.50) 0%, rgba(255, 199, 104, 0.50) 100%);
}

/* Default */

.filter-button {
    border: 1px solid rgba(200, 173, 127, 0.30);
    background-color: #00000000;
    width: 101px;
    height: 31px;
    color: #d8d8d8;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    transition: all .5s ease;
}

/* Activo */

.button-active {
    background: rgba(200, 173, 127, 0.30);
    border: 1px solid #C8AD7F;
    color: #F5D59C;
    transition: all .5s ease;
}

.item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.item {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 160px 0px #c8ad7fbf inset;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    padding: 15px 15px 6px 15px;
}

.item-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 60px 0px #C8AD7F inset;
    width: 170px;
    height: 170px;
    padding-right: 25px;
}

.item-img-container img {
    height: 250px;
    filter: drop-shadow(7px 6px 4px rgba(0, 0, 0, 0.4));
    position: absolute;
    z-index: 5;
}

.item-background-container {
    width: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.item-title,
.item-brand,
.item-price {
    color: #202020;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    height: 20px;
}

.item-brand {
    font-weight: 800;
}

.item-price {
    font-weight: 500;
}

.item-price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 15px;
}

.item-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C8AD7F99;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    background-image: url(./imgs/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all .1s ease-in;
}

.item-add-button:hover {
    background-color: #b29a71;
}

.item-add-button:active {
    background-color: #b29a7130;
}

.item-section-button {
    border-radius: 15px;
    background: rgba(200, 173, 127, 0.30);
    border: none;
    width: 160px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #F5D59D;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;
    gap: 100px;
    padding: 0px 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px;
    gap: 25px;
}

.info-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
}

.icon-container img {
    height: 22px;
    width: 22px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
}

.info h3:nth-child(1) {
    font-weight: 600;
}

.info b {
    color: #C8AD7F;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 10px;
    max-width: 370px;
    gap: 10px;
}

.name-container,
.surname-container,
.mail-container,
.pass-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.form-container label {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
}

.form-container input {
    border-radius: 5px;
    border: 1px solid #CBB170;
    background-color: #00000000;
    width: 100%;
    height: 40px;
}

.name-container,
.surname-container {
    width: 50%;
}

.name-container input,
.surname-container input {
    width: 100%;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-section {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-bottom: 20px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-container h3 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-icon-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icon-container span {
    width: 20%;
    height: 1px;
    background: #C8AD7F;
    box-shadow: 0px 0px 8px 0px rgba(200, 173, 127, 0.30);
}

.footer-icon-container img {
    height: 35px;
    width: 35px;
}

.footer-section h4 {
    color: #898989;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
}

@media (min-width: 1280px) {

    nav {
        padding: 0px 50px;
    }

    .nav-logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo-container img {
        width: 60px;
    }

    .nav-icon-menu-container {
        display: none;
    }

    .nav-icon-cart-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
    }

    .cart-button img {
        height: 30px;
        width: 30px;
    }

    .nav-icon-cart-container input {
        width: 0px;
        height: 0px;
    }

    .cart-label img {
        position: relative;
    }

    .nav-list-container,
    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-list {
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 100px;
    }

    .nav-list li {
        list-style: none;
    }

    .nav-list li>a {
        color: #ACACAC;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        list-style: none;
        text-decoration: none;
        position: relative;
        z-index: 5;
    }

    .hero-section {
        flex-direction: row;
        padding: 0px 100px;
        padding-top: 50px;
        align-items: flex-start;
    }

    .hero-img-background-filter {
        transform: rotate(90deg);
        gap: 70px;
        padding-left: 180px;
        right: -180px;
    }

    .hero-img-background-filter p {
        font-size: 180px;
    }

    .hero-img-background-filter p:nth-child(odd) {
        -webkit-text-stroke: 1px #c8ad7f69;
    }

    .hero-img-background-filter p:nth-child(even) {
        color: rgba(200, 173, 127, 0.224);
    }

    .hero-text-container {
        order: 1;
        align-items: flex-start;
    }

    .hero-title {
        margin: 0px;
        padding-top: 30px;
        font-family: "akira expanded";
        text-transform: uppercase;
        text-align: start;
        font-size: 65px;
        color: #f6f6f6dd;
        padding-right: 140px;
        line-height: 70px;
        color: #d5d5d5;
    }

    .hero-subtitle {
        text-align: start;
        padding: 0px;
        padding-right: 300px;
        line-height: 30px;
        margin-bottom: 20px;
        margin-top: 60px;
    }

    .hero-img-container {
        margin: 0px;
        order: 2;
    }

    .hero-img-background {
        background-image: none;
        height: 460px;
        width: 460px;
    }

    .hero-img-background img {
        height: 550px;
    }

    .about-section {
        position: relative;
        background-color: rgb(0, 0, 0);
        box-shadow: 0px -120px 90px 0px rgba(0, 0, 0, 0.75);
    }

    .about-title {
        display: none;
    }

    .about-text-img-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .about-title--desktop {
        display: block;
        color: #ffffff;
        text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.50);
        font-family: UNDERRATED;
        font-size: 120px;
    }

    .about-title--desktop b {
        color: #C8AD7F;
    }

    .about-img-container,
    .about-img-container img {
        display: none;
    }

    .about-img-container--desktop {
        display: block;
    }

    .about-img-container--desktop img {
        width: 1100px;
        position: relative;
        top: -160px;
        right: -105px;
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        top: -125px;
        left: -215px;
        z-index: 5;
    }

    .about-content,
    .about-content--2 {
        color: #EAEAEA;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 20px;
        font-weight: lighter;
        text-align: start;
        width: 350px;
        margin-bottom: 20px;
    }

    .about-content--2 {
        width: 345px;
    }

    .about-content b {
        color: #C8AD7F;
    }

    .about-button {
        margin-top: 20px;
    }

    .card-section {
        flex-direction: column;
        gap: 50px;
        margin-top: 0px;
        position: relative;
        z-index: 4;
        box-shadow: 0px -400px 90px 0px #000000aa;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .card {
        border: 1px solid rgb(73, 64, 47);
        box-shadow: 0px 0px 0px 0px rgba(200, 173, 127, 0.10);
        transition: all .3s ease;
    }

    .card:hover {
        box-shadow: 0px 0px 10px 0px rgba(200, 173, 127, 0.29);
        transition: all .3s ease;
    }

    .dc-card,
    .dc-card div {
        width: 400px;
        height: 400px;
        grid-area: 1 / 1 / 3 / 3;
        border-radius: 10px 0px 0px 10px;
    }

    .dc-card div>img {
        width: 150px;
    }

    .nike-card,
    .nike-card div {
        height: 400px;
        width: 200px;
        grid-area: 1 / 3 / 3 / 4;
    }

    .nike-card div>img {
        width: 150px;
    }

    .puma-card,
    .puma-card div {
        height: 195px;
        width: 200px;
        grid-area: 1 / 4 / 2 / 5;
        border-radius: 0px 10px 0px 0px;
    }

    .adidas-card,
    .adidas-card div {
        height: 195px;
        width: 200px;
        grid-area: 2 / 4 / 3 / 5;
        border-radius: 0px 0px 10px 0px;
    }

    .card-text-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        gap: 20px;
    }

    .card-text-container h3 {
        color: #dcdcdc;
        font-family: UNDERRATED;
        font-size: 25px;
        font-weight: 800;
        letter-spacing: 1px;
    }

    .card-text-container span {
        width: 25px;
        height: 25px;
        background-color: rgba(200, 173, 127, 0.235);
        ;
        border-radius: 100%;
    }

    .item-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
    }

    .item-section {
        flex-direction: column;
        justify-content: space-between;
        gap: 100px;
    }

    .item-section h2 {
        color: #FFF;
        font-family: "Akira Expanded";
        font-size: 70px;
        font-weight: 800;
    }

    .item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .items {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: row;
        max-width: 650px;
        gap: 20px;
    }

    .filter-title {
        border: none;
    }

    .item-filter {
        justify-content: flex-start;
        width: 30%;
    }

    .filter-button {
        background: rgba(200, 173, 127, 0.10);
        font-size: 0px;
        height: 50px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

    .filter-button:nth-child(1) {
        color: #FFF;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    .filter-brand-container button:nth-child(2) {
        background-image: url(./imgs/Card-logo-nike.svg);
        background-position: center;
        background-size: 70px;
        background-repeat: no-repeat;
    }

    .filter-brand-container button:nth-child(2):hover {
        background: rgba(200, 173, 127, 0.331);
        background-image: url(./imgs/Card-logo-nike.svg);
        background-position: center;
        background-size: 70px;
        background-repeat: no-repeat;
    }

    .filter-brand-container button:nth-child(3) {
        background-image: url(./imgs/Card-logo-DC.svg);
        background-position: center;
        background-size: 40px;
        background-repeat: no-repeat;
    }

    .filter-brand-container button:nth-child(3):hover {
        background: rgba(200, 173, 127, 0.331);
        background-image: url(./imgs/Card-logo-DC.svg);
        background-position: center;
        background-size: 40px;
        background-repeat: no-repeat;
    }

    .filter-brand-container button:nth-child(4) {
        background-image: url(./imgs/Card-logo-adidas.svg);
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }

    .filter-brand-container button:nth-child(4):hover {
        background: rgba(200, 173, 127, 0.331);
        background-image: url(./imgs/Card-logo-adidas.svg);
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }

    .filter-brand-container button:nth-child(5) {
        background-image: url(./imgs/Card-logo-puma.svg);
        background-position: center;
        background-size: 45px;
        background-repeat: no-repeat;
    }

    .filter-brand-container button:nth-child(5):hover {
        background: rgba(200, 173, 127, 0.331);
        background-image: url(./imgs/Card-logo-puma.svg);
        background-position: center;
        background-size: 45px;
        background-repeat: no-repeat;
    }

    .filter-button:hover {
        background: rgba(200, 173, 127, 0.331);
    }

    .filter-gender-container button,
    .filter-price-container button {
        font-size: 20px;
        background: rgba(200, 173, 127, 0.10);
        border: none;
    }

    .filter-price-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-price-container button {
        width: 95%;
    }

    .menu-container {
        flex-direction: row;
        gap: 150px;
        margin-bottom: 70px;
    }

    .active-filter {
        border: 1px solid #c8ad7f5f;
        background-color: #c8ad7f5f;
    }


}